.card {  
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  max-width: 375px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
  transform-origin: center;  
  transition: all ease-in-out .5s;
  overflow: hidden;
  position: relative;
}

.card:hover .card-title {
  /* display: none; */
}

.card .card-info {  
  display: none;
}

.card:hover .card-info { 
  margin: 1em 0;
  display: block;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.card .card-title {
  font-size: 1.5rem;
  margin-top: 0.75rem;
  font-weight: bold;
  z-index: 3;
}

.card .card-info {
    margin: auto;
    /* display: none; */
}

.card .card-info p + p {
  margin-top: 1rem;
}

.card__front {
  width: 100%;
  height: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 65% center;  
}

.card:nth-child(1) .card__front { 
  background-image: url("https://i.ibb.co/YDN98xv/master-bedroom-2.jpg");
}

.card:nth-child(2) .card__front { 
  background-image: url("https://i.ibb.co/b32Zb2B/master-bathroom.jpg");
}

.card:nth-child(3) .card__front { 
  background-image: url("https://i.ibb.co/7nmymmY/laundry-room.jpg" );
}

.text {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(130%);
  -webkit-transform: translateY(130%);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(157, 187, 223, .75);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.card:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  height: 100%;
}

.overlay-text {
  color: white;
  font-size: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  flex-direction: column;
  gap: 1em;
}

.mobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  .card {
    max-width: 80%;
    height: 650px;
    padding: 0;    
  }

  .card__front {
    width: 100%;
    flex: 4;
  }

  .content {
    flex: 1;
    transform: translateY(30%);
  }  

  .card-title {
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 900px) {
  .card {
    flex-direction: column;
    max-width: 95%;
    background-color: rgba(157, 187, 223, .1);
  }

  .card__front {
    width: 100%;
    max-width: 100%;
  }

  .card:nth-child(2) {
    flex-direction: column;
  }

  .card-title {
    margin: 0;
  }
  
  .card:hover .overlay {
    display: none;
  }

  .mobile {
    display: block;    
    font-size: 1rem;
    font-weight: 600;
    margin: 2rem 0;
  }

  .content {
    margin-bottom: 4rem;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;    
  }

  .mobile-text p{
    margin: 0 2rem;
    text-align: center;
  }

  .mobile-text span:last-child{
    display: none;
  }
}

@media screen and (max-width: 600pc) {
  .card {
    max-width: 100%;
    height: 400px;
  }

  .card__front {
    flex: 4;
  }

  .mobile {
    margin: 0;
  }

  .mobile-text {
    flex-wrap: wrap;
  }

  .card-title {
    margin-bottom: 1rem;
  }

  .mobile-text p{
    margin: .5em .5em;
    font-size: 0.9rem;
  }
}

 