.nav {
  width: 100%;
  padding: 3rem 0;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-list li:not(.btn) {  
  padding: .5em 1em;
  cursor: pointer;
  letter-spacing: 1px;
  margin-top: 0.5em;
}

.nav-list li:not(.btn)::before {  
  content: '';
  display: block;
  margin: auto;
  margin-bottom: .5em;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
} 

.nav-list li:not(.btn)::after {  
  content: '';
  display: block;
  margin: auto;
  margin-top: .5em;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.nav-list li:not(.btn):hover::before {  
  width: 100%;
  background-color: rgba(157, 187, 223, 1);
}

.nav-list li:not(.btn):hover::after {  
  width: 100%;
  background-color: rgba(157, 187, 223, 1);
}

@media screen and (max-width: 900px) {
  header {
    display: none;
  }
}

