.facts {
  margin: 8rem 0 0 0;
  border: 6px solid rgba(157, 187, 223, .3);
  text-align: center;
  padding-bottom: 4.5rem;
  border-radius: 3px; 
}

.facts h2 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  background-color: #f8f8ff;
  transform: translateY(-50%);
  padding: 0 3rem;
  display: inline-block;
  font-weight: 500;  
}

.facts__cards {  
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.facts__cards:first-child {  
  border: 5px solid red;
}

@media screen and (max-width: 1510px) {
  .facts {
    border: none;
    border-top: 8px solid rgba(157, 187, 223, .3);
    border-bottom: 8px solid rgba(157, 187, 223, .3);
    width: 100%;
  }  
}

@media screen and (max-width: 1200px) {
  .facts {
    margin-top: 8rem;    
    margin-left: 0;  
  } 

  .facts__cards { 
    margin-top: -2rem;   
    padding: 2rem 0;
  }

  .facts h2 {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .facts__cards { 
    /* padding: 0 1rem; */
    gap: 2rem;
  } 
}

@media screen and (max-width: 900px) {
  .facts {
    margin-top: 2rem; 
  }  

  .facts__cards {
    margin: 0;
    padding: 0;
    gap: 1;
  }
}

@media screen and (max-width: 850px) {
  .facts__cards {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .facts {
    margin-top: 7rem;
    padding: 0 0 5rem 0;
  }
}

@media screen and (max-width: 600px) {
  .facts h2 {
    font-size: 3rem;
    padding: 0 1rem;
  }
}

@media screen and (max-width: 400px) {
  .facts {
    margin-top: 5rem;
  }

  .facts h2 {
    font-size: 2rem; 
  }
}



