.facts {
  margin: 6rem 3rem 0 3rem;
  border: 6px solid rgba(157, 187, 223, .3);
  text-align: center;
  padding: 0 1rem 3rem 1rem;

  /* width: 100%; */
}

.facts h2 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  background-color: #f8f8ff;
  transform: translateY(-50%);
  padding: 0 3rem;
  display: inline-block;
  font-weight: 500;
}

.facts__cards {  
  gap: 2rem; 
}

.facts__cards:hover .card {
  /* opacity: 0.3;   */
}

.facts__cards .card:hover {
  /* transform: rotateY(360deg); */
  opacity: 1;
  /* background-color: rgba(157, 187, 223, .3); */
}

@media screen and (max-width: 1200px) {
  .facts {
    border: none;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 8rem;
  } 

  .facts__cards {
    gap: 3rem;
    margin-top: -2rem;
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .facts {
    margin-top: 8rem;
  }
}

